[submodule "foreign/cmp"]
	path = foreign/cmp
	url = git://github.com/camgunz/cmp.git
[submodule "foreign/blackhole"]
	path = foreign/blackhole
	url = https://github.com/3Hren/blackhole.git
	branch = v0.2
