Source: elliptics
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends: cdbs,
               cmake (>= 2.6),
               debhelper (>= 7.0.50~),
               libboost-dev,
               libboost-iostreams-dev,
               libboost-program-options-dev,
               libboost-python-dev,
               libboost-system-dev,
               libboost-thread-dev,
               libboost-filesystem-dev,
               libltdl-dev,
               libmsgpack-dev,
               python-dev,
               python-central | dh-python,
               python-pip,
               python-virtualenv,
               msgpack-python | python-msgpack,
               eblob (>= 0.23.11),
               handystats (>= 1.11.6),
               libkora-util-dev (= 1.1.0-rc1),
               blackhole-dev (>= 1.7.0-1),
Standards-Version: 3.8.0
Homepage: http://www.ioremap.net/projects/elliptics
XS-Python-Version: >= 2.6

Package: elliptics
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         eblob (>= 0.23.11),
         elliptics-client (= ${Source-Version}),
         handystats (>= 1.11.6),
         libkora-util1 (= 1.1.0-rc1),
         libblackhole1 (>= 1.7.0-1)
Replaces: elliptics-2.10
Provides: elliptics-2.10
Description: Distributed hash table storage
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-client
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         msgpack-python | python-msgpack,
         handystats (>= 1.11.6),
         libblackhole1 (>= 1.7.0-1),
Replaces: elliptics-client
Description: Distributed hash table storage (client library)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics (= ${Source-Version}) | elliptics-client (= ${Source-Version})
Replaces: elliptics-dbg-2.10
Provides: elliptics-dbg-2.10
Description: Distributed hash table storage (debug files)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics-client (= ${Source-Version})
Suggests: eblob (>= 0.23.11),
          libkora-util1 (= 1.1.0-rc1),
Description: Distributed hash table storage (includes)
 Elliptics network is a fault tolerant distributed hash table object storage.
 .
 This package also provides dnet_run_servers -- tool for running ensemble of
 one or more server nodes configured as necessary.
 Very useful for testing clients and apps.
 .
 Suggests field lists packages required to be able to run dnet_run_servers.
